extends ../layout

block content
    .row.justify-content-center.align-items-center
        .col-md-6
            .col-md-12
                form.form(action='/register' method='POST')
                    +csrf
                    h3.text-center register
                    .form-group
                        label(for='username') Username:
                        br
                        input#username.form-control(type='text' name='username' required)
                    .form-group
                        label(for='password') Password:
                        br
                        input#password.form-control(type='text' name='password' required)
                    .form-group
                        br
                        input.btn.btn-primary.btn-md(type='submit' name='submit' value='register')