extends ../layout

block content
  .container
    a.btn.btn-warning(href='/reservering') terug
    form(method="POST", action="/reservering/create")
      +csrf
      .form-group.row
        label(for="date").col-sm-2.col-form-label Date:
        .col-sm-10 
          input(type="date" name="date" required).form-control
      .form-group.row
        label(for="time").col-sm-2.col-form-label Time:
        .col-sm-10 
          input(type="time" name="time" required).form-control
      .form-group.row
        label(for="table").col-sm-2.col-form-label Tafel:
        .col-sm-10 
          input(type="number" min="0" name="table" required).form-control
      .form-group.row
        label(for="name").col-sm-2.col-form-label Name:
        .col-sm-10 
          input(type="text" name="name" required).form-control
      .form-group.row
        label(for="phone").col-sm-2.col-form-label Telefoon:
        .col-sm-10 
          input(type="text" name="phone" required).form-control
      .form-group.row
        label(for="amount").col-sm-2.col-form-label Aantal:
        .col-sm-10 
          input(type="number" value="1" min="1" name="amount" required).form-control
      .form-group.row
        .col-sm-2 Reservering
        .col-sm-10
          .form-check
            input(type='checkbox' name="is_reserved").form-check-input
            label(for='is_reserved').form-check-label
              | Reservering Ja/Nee
      .form-row
        .form-group.col-12
          button.btn.btn-primary(type='submit') Reserveer