extends ../layout

block content
  .container
    a.btn.btn-warning(href='/reservering') terug
    form(method="POST", action="/reservering/edit/"+reservering.id)
      +csrf
      .form-group.row
        label(for="date").col-sm-2.col-form-label Date:
        .col-sm-10 
          input(type="date", name="date" value=moment(reservering.datumtijd).format('YYYY-MM-DD') required).form-control
      .form-group.row
        label(for="time").col-sm-2.col-form-label Time:
        .col-sm-10 
          input(type="time", name="time" value=moment(reservering.datumtijd).format('hh:mm') required).form-control
      .form-group.row
        label(for="table").col-sm-2.col-form-label Tafel:
        .col-sm-10 
          input(type="number", name="table" value=reservering.tafel required).form-control
      .form-group.row
        label(for="name").col-sm-2.col-form-label Name:
        .col-sm-10 
          input(type="text", name="name" value=reservering.naam required).form-control
      .form-group.row
        label(for="phone").col-sm-2.col-form-label Telefoon:
        .col-sm-10 
          input(type="text", name="phone" value=reservering.telefoon required).form-control
      .form-group.row
        label(for="amount").col-sm-2.col-form-label Aantal:
        .col-sm-10 
          input(type="number" value=reservering.aantal min="1" name="amount" required).form-control
      .form-group.row
        .col-sm-2 Reservering
        .col-sm-10
          .form-check
            input(type='checkbox' name="is_reserved" value=reservering.is_reserved).form-check-input
            label(for='is_reserved').form-check-label
              | Reservering Ja/Nee
      .form-row
        .form-group.col-12
          button.btn.btn-primary(type='submit') Reserveer