extends ../layout

block content
  a(href="/reservering/create").btn.btn-primary.mb-2 Reservering toevoegen

  table.table
    thead.thead-dark
      tr
        th bestelling
        th datum/tijd
        th tafel
        th naam
        th telefoon
        th aantal
        th reservering
        th
        th
    tbody.bg-light
      each reservering, index in reserveringen.docs
        tr
          td
            a(href='/bestelling/reservering/'+reservering.id).btn.btn-success bestelling
          td 
            |#{moment(reservering.datumtijd).format('DD-MM-YYYY')}
            br
            |#{moment(reservering.datumtijd).format('HH:mm a')}
          td #{reservering.tafel}
          td #{reservering.naam}
          td #{reservering.telefoon}
          td #{reservering.aantal}
          td #{reservering.is_reservering}
          td 
            a(href="/reservering/edit/"+reservering.id).btn.btn-warning.btn-sm edit
          td
            form(method="POST" action="/reservering/delete/"+reservering.id)
              +csrf
              input(type="submit", value="delete").btn.btn-danger.btn-sm
              //- TODO: add alert/confirmation/modal
  +paginate(reserveringen)