//- TODO: fixme
div.mt-2
  while message = flash.shift()
    div.alert.alert-dismissible.fade.show(class='alert-' + message.type)
      div= message.message
      button.close(type='button' data-dismiss='alert' aria-label='Close')
        span(aria-hidden='true') &times;
