.error #{status}
// 
    Copyright (c) 2020 by Kay Pooma (https://codepen.io/kaypooma/pen/ehfjC)
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

style.
    @import url(https://fonts.googleapis.com/css?family=Gilda+Display);

    html {
        background: radial-gradient(#000, #111);
        color: white;
        overflow: hidden;
        height: 100%;
        user-select: none;
    }

    .static {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        top: -100px;
        opacity: 0.05;
        z-index: 230;
        user-select: none;
        user-drag: none;
    }

    .error {
        text-align: center;
        font-family: 'Gilda Display', serif;
        font-size: 95px;
        font-style: italic;
        text-align: center;
        width: 100px;
        height: 60px;
        line-height: 60px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -60px;
        right: 0;
        animation: noise 2s linear infinite;
        overflow: default;
    }

    .error:after {
        content: '#{status}';
        font-family: 'Gilda Display', serif;
        font-size: 100px;
        font-style: italic;
        text-align: center;
        width: 150px;
        height: 60px;
        line-height: 60px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        color: blue;
        animation: noise-1 .2s linear infinite;
    }

    .info {
        text-align: center;
        font-family: 'Gilda Display', serif;
        font-size: 15px;
        font-style: italic;
        text-align: center;
        height: 60px;
        margin: auto;
        position: absolute;
        top: 170px;
        bottom: 0;
        left: 0;
        right: 0;
        animation: noise-3 1s linear infinite;
        padding: 1rem 2rem;
    }

    .error:before {
        content: '#{status}';
        font-family: 'Gilda Display', serif;
        font-size: 100px;
        font-style: italic;
        text-align: center;
        width: 100px;
        height: 60px;
        line-height: 60px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        color: red;
        animation: noise-2 .2s linear infinite;
    }

    @keyframes noise-1 {
        0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
        10% {opacity: .1;}
        50% {opacity: .5; left: -6px;}
        80% {opacity: .3;}
        100% {opacity: .6; left: 2px;}
    }

    @keyframes noise-2 {
        0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
        10% {opacity: .1;}
        50% {opacity: .5; left: 6px;}
        80% {opacity: .3;}
        100% {opacity: .6; left: -2px;}
    }

    @keyframes noise {
        0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}  
        4.3% {opacity: 1; transform: scaleY(1.7);}
        43% {opacity: 1; transform: scaleX(1.5);}
    }

    @keyframes noise-3 {
        0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
        4.3% {opacity: 1; transform: scaleY(4);}
        43% {opacity: 1; transform: scaleX(5) rotate(60deg);}
    }
br
br
span.info #{error}