extends layout

block scripts

block content
  .container-fluid.m-auto
    .row
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-md-4
        a.tile-primary(href="/reservering")
          i.fas.fa-address-book.fa-4x
            h1 Resevering Overzicht
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-md-4
        a.tile-warning(href="/gerecht")
          i.fas.fa-book-open.fa-4x
            h1 Gerechten Overzicht
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-md-4
        a.tile-success(href="/overzicht")
          i.fas.fa-utensils.fa-4x
            h1 Keuken/Bar Overzicht
      .col-12.col-sm-6.col-md-4.col-lg-3.mb-md-4
        .tile-danger
          i.fas.fa-cogs.fa-4x
            h1 Opties