include mixins

html
  head
    title test app - #{title}
    block scripts
    link(rel='stylesheet', href='/app.css')
    style
      block style
      
  body
    include partials/header
    include partials/navbar
    
    include partials/flash
    block content

    include partials/footer

    script(src='/app.js')
    block bottom-script
