mixin csrf
    input(type="hidden", name="_csrf", value=csrfTokenFunction())

mixin simpelPaginate(pagination)
    if pagination.hasPrevPage
        a(href=prevPage(pagination)) prev

    if pagination.hasNextPage
        a(href=nextPage(pagination)) next

mixin paginate(pagination)
    if pagination.hasPrevPage
        a(href=prevPage(pagination)) prev

    //- todo between pages

    if pagination.hasNextPage
        a(href=nextPage(pagination)) next

//- dump obj
mixin d(obj)
    #{console.log(obj)}