@each $color, $value in $theme-colors {
    .tile-#{$color} {
        display: inline-block;
        margin: 1rem 0;
        min-width: 14rem;
        min-height: 10rem;
        max-width: 24rem;
        max-height: 20rem;
        width: 100%;
        height: 100%;
        background-color: $value;
        transition: transform 0.3s;
        color: color-yiq($value) !important;
        i {
            position: relative;
            float: left;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            * {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }

    .tile-#{$color}:active {
        transform: scale(0.9);
    }
    .tile-#{$color}:hover {
        transform: scale(0.9);
    }
}

// TODO: add tile-#{size} - s m l
// TODO: add scaling support - sm md lg xl