@media (min-width: 576px) {
    @each $size, $value in $sizes {
        .w-sm-#{$size} {
            width: $value !important;
        }
    }
}

@media (min-width: 768px) {
    @each $size, $value in $sizes {
        .w-md-#{$size} {
            width: $value !important;
        }
    }
}

@media (min-width: 992px) {
    @each $size, $value in $sizes {
        .w-lg-#{$size} {
            width: $value !important;
        }
    }
}

@media (min-width: 1120px) {
    @each $size, $value in $sizes {
        .w-xl-#{$size} {
            width: $value !important;
        }
    }
}