extends ../layout

block content
  button(data-toggle="modal" data-target="#gerechtModal").btn.btn-success.align-left gerecht toevoegen
  nav.mt-2
    #typenav(role='tablist').nav.nav-tabs.bg-light
      each _type, _typekey in nested
          a.nav-item.nav-link(id='nav-'+_typekey data-toggle='tab' href='#'+_typekey role='tab' aria-controls=_typekey aria-selected='true') #{_typekey}
  .tab-content
    each _type, _typekey in nested
      .tab-pane(id=_typekey role='tabpanel' aria-labelledby='nav-'+_typekey)
        #subtypenav(role='tablist').nav.nav-tabs.bg-light
          each _subtype, _subkey in _type
            a.nav-item.nav-link(id='nav-'+_subkey data-toggle='tab' href='#'+_typekey+_subkey role='tab' aria-controls=_subkey aria-selected='true') #{_subkey}
        .tab-content
          each _subtype, _subkey in _type
            .tab-pane(id=_typekey+_subkey role='tabpanel' aria-labelledby='nav-'+_subkey)
              table.table
                thead.thead-dark
                  th sub/type
                  th gerecht
                  th omschrijving
                  th prijs
                  th
                tbody.bg-light
                  each gerecht, i in nested[_typekey][_subkey]
                    tr
                      td 
                        |#{gerecht.type}
                        br
                        |#{gerecht.subtype}
                      td #{gerecht.naam}
                      td #{gerecht.omschrijving}
                      td #{(gerecht.prijs).toFixed(2)}
                      td
                        .brn-group 
                          a.btn.btn-warning edit
                          a.btn.btn-danger delete
                //- TODO: add edit/delete

  #gerechtModal.modal.right.fade.in.text-dark(tabindex='-1', role='dialog', aria-labelledby='gerechtModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#gerechtModalLabel.modal-title Gerechten
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                form(action="/gerecht/add" method="POST")#gerecht-form
                    +csrf
                    //- TODO: add gerecht subtypes filter
                    .form-group
                      label(for="type").col-sm-2.col-form-label type:
                      .col-sm-10
                        input(type="text" name="type" required).form-control
                    .form-group
                      label(for="subtype").col-sm-2.col-form-label subtype:
                      .col-sm-10
                        input(type="text" name="subtype" required).form-control
                    .form-group
                      label(for="naam").col-sm-2.col-form-label naam:
                      .col-sm-10
                        input(type="text" name="naam" required).form-control
                    .form-group
                      label(for="omschrijving").col-sm-2.col-form-label omschrijving:
                      .col-sm-10
                        input(type="text" name="omschrijving").form-control
                    .form-group
                      label(for="prijs").col-sm-2.col-form-label prijs:
                      .col-sm-10
                        input(type="number" min="0.00" step=".01" value="10.00" name="prijs" required).form-control
            .modal-footer
              button.btn.btn-success(type='button' onclick="$('#gerecht-form').submit()") Toevoegen

block bottom-script
  script.
    $('#typenav > :first-child').tab('show')
    $('#subtypenav > :first-child').tab('show')