extends ../layout

block content
    #typenav(role='tablist').nav.nav-tabs
        each gerechten, _type in bestellingen
            a.nav-item.nav-link.bg-light(id='nav-'+_type data-toggle='tab' href='#'+_type role='tab' aria-controls=_type aria-selected='true') #{_type}
    .tab-content
        each gerechten, _type in bestellingen
            .tab-pane(id=_type role='tabpanel' aria-labelledby='nav-'+_type)
                table.table
                    thead.thead-dark
                        th Gerecht
                        th Tafel
                        th datum/tijd
                    tbody.bg-light
                        each reservering, i in gerechten
                            each gerecht, i in reservering
                                tr
                                    td #{gerecht.aantal}x #{gerecht.gerecht.naam}
                                    td #{gerecht.reservering.tafel} #{gerecht.reservering.naam}
                                    td
                                        |#{moment(gerecht.reservering.datumtijd).format('DD-MM-YYYY')}
                                        br
                                        |#{moment(gerecht.reservering.datumtijd).format('HH:mm a')}
block bottom-script
  script.
    $('#typenav > :first-child').tab('show')