doctype html
html(lang="en")
  head
    link(rel='stylesheet' media='print' href='/app.css' type="text/css")

  body.bg-light.text-dark
    block content
        style
        - var reservering = bestelling.reservering
        p
            | Tafel: #{reservering.tafel}
            br
            | Datum: #{moment(reservering.datumtijd).format('DD-MM-YYYY')}
            br
            |Tijd: #{moment(reservering.datumtijd).format('HH:mm a')}

        table.w-100.w-md-50
            tbody
                - var total = 0.00
                each gerecht, index in bestelling.gerechten
                    - total += gerecht.gerecht.prijs*gerecht.amount
                    tr
                        td #{gerecht.amount}x
                        td #{gerecht.gerecht.naam}
                        td #{(gerecht.gerecht.prijs).toFixed(2)}
                        td #{(gerecht.gerecht.prijs*gerecht.amount).toFixed(2)}
                tr.border-top.border-dark
                    td Totaal
                    td(colspan="2")
                    td #{(total).toFixed(2)}
                tr
                    td Betaald contant
                    td(colspan="2")
                    td #{(0).toFixed(2)}
                tr
                    td Terug
                    td(colspan="2")
                    td #{(-total).toFixed(2)}