extends ../layout

block content
    .container
        .btn-group
            a.btn.btn-warning(href='/bestelling/reservering/'+bestelling.reservering.id) terug
            a.btn.btn-primary(href='/bestelling/bon/'+bestelling.id+'/?pdf' target="_blank") pdf
        - var reservering = bestelling.reservering
        p
            | Tafel: #{reservering.tafel}
            br
            | Datum: #{moment(reservering.datumtijd).format('DD-MM-YYYY')}
            br
            |Tijd: #{moment(reservering.datumtijd).format('HH:mm a')}
        table.w-100.w-md-50
            tbody
                - var total = 0.00
                each gerecht, index in bestelling.gerechten
                    - total += gerecht.gerecht.prijs*gerecht.amount
                    tr
                        td #{gerecht.amount}x
                        td #{gerecht.gerecht.naam}
                        td #{(gerecht.gerecht.prijs).toFixed(2)}
                        td #{(gerecht.gerecht.prijs*gerecht.amount).toFixed(2)}
                tr.border-top.border-light
                    td Totaal
                    td(colspan="2")
                    td #{(total).toFixed(2)}
                tr
                    td Betaald contant
                    td(colspan="2")
                    td #{(0).toFixed(2)}
                tr
                    td Terug
                    td(colspan="2")
                    td #{(-total).toFixed(2)}
                