extends ../layout

block content
    .container
        .btn-group
            a.btn.btn-warning(href='/reservering') terug
            button(data-toggle="modal" data-target="#gerechtModal").btn.btn-success.align-left gerecht toevoegen
            a(href='/bestelling/bon/'+bestelling.id).btn.btn-primary.align-right Bestelling Bon
        h1 Bestelling
        if !bestelling.gerechten.length
            h5 leeg
        table.table
            thead.thead-dark
                tr
                    th aantal
                    th gerecht
                    th prijs
                    th prijs total
                    th
            tbody.bg-light
                - var total = 0.00
                each gerecht, index in bestelling.gerechten
                    - total += gerecht.gerecht.prijs*gerecht.amount
                    tr
                        td #{gerecht.amount}x
                        td #{gerecht.gerecht.naam}
                        td #{(gerecht.gerecht.prijs).toFixed(2)}
                        td #{(gerecht.amount * gerecht.gerecht.prijs).toFixed(2)}
                        td
                            form(action="/bestelling/remove/"+bestelling.id+'/'+gerecht.id method='POST')
                                +csrf
                                button(type="submit").btn.btn-danger remove
                tr
                    td Total
                    td
                    td
                    td #{(total).toFixed(2)}
                    td
                        
    #gerechtModal.modal.right.fade.in.text-dark(tabindex='-1', role='dialog', aria-labelledby='gerechtModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#gerechtModalLabel.modal-title Gerechten
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form(action="/bestelling/add/"+bestelling.id method="POST")#gerecht-form
                        +csrf
                        //- TODO: add gerecht subtypes filter
                        .form-group
                            label(for="gerecht").col-sm-2.col-form-label Gerecht:
                            .col-sm-10
                                select(name='gerecht' required).custom-select
                                    option(selected='') Gerechten
                                    each gerecht, index in gerechten
                                        option(value=gerecht.id) #{gerecht.naam}
                        .form-group
                            label(for='naam').col-sm-2.col-form-label Aantal:
                            .col-sm-10
                                input(type='number' value='1' min='1' step='1' name='amount').form-control
                .modal-footer
                    button.btn.btn-success(type='button' onclick="$('#gerecht-form').submit()") Toevoegen